<div style="display: flex; flex-direction: column;">
  <mat-form-field style="width: 300px;">
    <mat-label>Pesquisar Perfil</mat-label>
    <input type="text" matInput [formControl]="profileSearchControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProfile" (optionSelected)="handleSelectProfile($event)">
      <mat-option *ngFor="let profile of profiles" [value]="profile">
        {{ profile.profileName }}
      </mat-option>
      <div #infiniteScroll></div>
      <mat-option *ngIf="isLoading" disabled>
        <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field *ngIf="profile?.id" style="width: 300px;">
    <mat-label>Pesquisar Modulo</mat-label>
    <input type="text" matInput [formControl]="moduleSearchControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayModule" (optionSelected)="handleSelectModule($event)">
      <mat-option *ngFor="let module of modulesFiltered" [value]="module">
        {{ module.moduleName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <ng-container *ngIf="schemaBase && module">
    <div>
      <button (click)="createSchemaByModule()">Criar schema</button>
      <button (click)="resetSchema()">Redefinir</button>
    </div>
    <fieldset>
      <legend>{{schemaBase.title}}</legend>
      <app-custom-form *ngIf="show" [schema]="schemaBase" [isRecursive]="true" [debug]="true" (formValue)="formValue($event)"></app-custom-form>
    </fieldset>
  </ng-container>
</div>


