<div class="flex">
  <div class="scroll container-left w-30">
    <table class="table">
      <tbody>
        <tr *ngFor="let item of [].constructor(20)">
          <td>Conteúdo</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="left">
    <mat-icon>arrow_back</mat-icon>
  </div>
  <div class="scroll container-right w-70">
    <table>
      <thead>
        <tr>
          <th>Fixo</th>
          <th *ngFor="let item of [].constructor(20)">
            Header
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of [].constructor(20)">
          <td>Fixo</td>
          <td *ngFor="let item of [].constructor(20)">
            Conteúdo
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="right">
    <mat-icon>arrow_forward</mat-icon>
  </div>
</div>
