<form [formGroup]="formGroup">
  <fieldset style="border: 1px solid;">
    <legend>{{ field.label }}</legend>

    <div [formArrayName]="field.name">
      <div *ngFor="let control of getFormArray(formGroup, field.name).controls; let i = index" [formGroupName]="i">
        <div style="display: flex; justify-content: end;">
          <button style="margin: 8px 0;" type="button" (click)="removeItem(i)">Remover</button>
        </div>

        <ng-container *ngIf="isRecursive">
          <app-custom-form-inputs
          *ngFor="let nestedField of field.fields"
          [field]="nestedField"
          [formGroup]="getFormGroup(control)"
          [rootFormGroup]="formGroup"
          [isRecursive]="isRecursive">
        </app-custom-form-inputs>
        </ng-container>

        <ng-container *ngIf="!isRecursive && field.fields && field.fields.length">
          <app-custom-form-inputs
          [field]="field.fields[0]"
          [formGroup]="getFormGroup(control)"
          [rootFormGroup]="formGroup"
          [isRecursive]="isRecursive">
        </app-custom-form-inputs>
      </ng-container>

      </div>
    </div>

    <div style="display: flex; justify-content: end;">
      <button style="margin: 8px 0;" type="button" (click)="addItem()">Adicionar {{ field.label }}</button>
    </div>
  </fieldset>
</form>
