<code>icon</code>
<div class="flex flex-wrap">
  <app-button color="primary" [disabled]="true">
    <mat-icon icon>check</mat-icon>
  </app-button>
  <app-button color="success">
    <mat-icon icon>check</mat-icon>
  </app-button>
  <app-button color="danger">
    <mat-icon icon>check</mat-icon>
  </app-button>
  <app-button color="warning">
    <mat-icon icon>check</mat-icon>
  </app-button>
  <app-button color="default">
    <mat-icon icon>check</mat-icon>
  </app-button>
  <app-button color="secondary">
    <mat-icon icon>check</mat-icon>
  </app-button>
  <app-button color="white">
    <mat-icon icon>check</mat-icon>
  </app-button>
  <app-button color="black">
    <mat-icon icon>check</mat-icon>
  </app-button>
</div>

<code>text</code>
<div class="flex flex-wrap">
  <app-button color="primary" [disabled]="true">
    primary
  </app-button>
  <app-button color="success">
    success
  </app-button>
  <app-button color="danger">
    danger
  </app-button>
  <app-button color="warning">
    warning
  </app-button>
  <app-button color="default">
    default
  </app-button>
  <app-button color="secondary">
    secondary
  </app-button>
  <app-button color="white">
    white
  </app-button>
  <app-button color="black">
    black
  </app-button>
</div>

<code>icon-left</code>
<div class="flex flex-wrap">
  <app-button color="primary" [disabled]="true">
    <mat-icon icon-left>check</mat-icon>
    primary
  </app-button>
  <app-button color="success">
    <mat-icon icon-left>check</mat-icon>
    success
  </app-button>
  <app-button color="danger">
    <mat-icon icon-left>check</mat-icon>
    danger
  </app-button>
  <app-button color="warning">
    <mat-icon icon-left>check</mat-icon>
    warning
  </app-button>
  <app-button color="default">
    <mat-icon icon-left>check</mat-icon>
    default
  </app-button>
  <app-button color="secondary">
    <mat-icon icon-left>check</mat-icon>
    secondary
  </app-button>
  <app-button color="white">
    <mat-icon icon-left>check</mat-icon>
    white
  </app-button>
  <app-button color="black">
    <mat-icon icon-left>check</mat-icon>
    black
  </app-button>
</div>

<code>icon-right</code>
<div class="flex flex-wrap">
  <app-button color="primary" [disabled]="true">
    <mat-icon icon-right>check</mat-icon>
    primary
  </app-button>
  <app-button color="success">
    <mat-icon icon-right>check</mat-icon>
    success
  </app-button>
  <app-button color="danger">
    <mat-icon icon-right>check</mat-icon>
    danger
  </app-button>
  <app-button color="warning">
    <mat-icon icon-right>check</mat-icon>
    warning
  </app-button>
  <app-button color="default">
    <mat-icon icon-right>check</mat-icon>
    default
  </app-button>
  <app-button color="secondary">
    <mat-icon icon-right>check</mat-icon>
    secondary
  </app-button>
  <app-button color="white">
    <mat-icon icon-right>check</mat-icon>
    white
  </app-button>
  <app-button color="black">
    <mat-icon icon-right>check</mat-icon>
    black
  </app-button>
</div>
