<div [formGroup]="formGroup">
  <div formArrayName="entities">

    <div class="flex">
      <ng-container *ngFor="let item of entitiesForm.controls; let i = index" [formGroupName]="i">
        <ng-container *ngIf="item.value.tpSinalVital === 'R' && mustGroup()">
          <div>
            <span>{{item.value.dsSiglaSinalVital}}/</span>
            <strong>{{item.value.tpSinalVital}}</strong>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngFor="let item of entitiesForm.controls; let i = index" [formGroupName]="i">
        <ng-container *ngIf="item.value.tpSinalVital === 'R' && mustGroup()">
          <div>
            <input type="text" formControlName="vlValor">
          </div>
        </ng-container>
      </ng-container>
    </div>

    <ng-container *ngFor="let item of entitiesForm.controls; let i = index" [formGroupName]="i">
      <ng-container *ngIf="item.value.tpSinalVital !== 'R' || !mustGroup()">
        <div style="display: flex;">
          <div>{{item.value.dsSinalVital}}: </div>
          <strong>{{item.value.tpSinalVital}}</strong>
          <input type="text" formControlName="vlValor">
        </div>
      </ng-container>
    </ng-container>


    <button (click)="test()">Teste</button>

  </div>
</div>
