<section [formGroup]="formGroup">
  <div fxLayout="column" fxLayoutGap="25px">
    <div fxLayout="row" fxLayoutAlign="start center">

      <input fxFlex="100px" type="radio" formControlName="option" value="frequency">

      <label for="Frequência">Frequência</label>

      <div fxLayout="row" fxLayoutGap="10px">
        <label>Opções</label>
        <select formControlName="frequency">
          <option value="option1">Option 1</option>
        </select>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center">

      <input fxFlex="100px" type="radio" formControlName="option" value="date">

      <div fxLayout="column" fxLayoutGap="10px">

        <div fxLayout="row" fxLayoutGap="10px">
          <div>
            <label>Data</label>
            <input formControlName="dateInitial" [disabled]="formGroup.value.option !== 'date'" type="date">
          </div>

          <div>
            <label>Hora</label>
            <input formControlName="hourInitial" matInput type="number">
          </div>

          <div>
            <label>Minuto</label>
            <input formControlName="minuteInitial" matInput type="number">
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <div>
            <label>Data</label>
            <input formControlName="dateFinal" [disabled]="formGroup.value.option !== 'date'" type="date">
          </div>

          <div>
            <label>Hora</label>
            <input formControlName="hourFinal" matInput type="number">
          </div>

          <div>
            <label>Minuto</label>
            <input formControlName="minuteFinal" matInput type="number">
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
