<!-- <div style="display: flex; justify-content: space-between">
  <app-custom-form style="flex: 1" [schema]="schemaBase" [isRecursive]="true"></app-custom-form>
</div> -->

<mat-accordion>
  <ng-container *ngFor="let schema of schemas">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ schema.schema.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display: flex; justify-content: space-between">
        <app-custom-form style="flex: 1" [schema]="schema.schema" [isRecursive]="schema.isRecursive" [debug]="schema.debug"></app-custom-form>
      </div>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>

