$background: #e9e9e9;
$background-red: #df4415;

$divider: #bababa;

$white: #ffffff;
$black: #000000;

$primary: #0897c2;
$secondary: #08c29a;
$default: #c6c6c6;

$warning: #c7ca0d;
$danger: #df4415;
$success: #00ae00;

$w-navigation: 200px;
