@import "variables";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e5e5e5;
}

* {
  box-sizing: border-box;
}

.white {
  color: $black;
  background: $white;
}

.black {
  color: $white;
  background: $black;
}

.primary {
  background: $primary;
  color: $white;
}

.secondary {
  background: $secondary;
  color: $white;
}

.default {
  background: $default;
  color: $white;
}

.warning {
  background: $warning;
  color: $white;
}

.danger {
  background: $danger;
  color: $white;
}

.success {
  background: $success;
  color: $white;
}

.flex {
  display: flex;
  &-center {
    align-items: center;
    justify-content: center;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
  &-direction {
    &-column {
      flex-direction: column;
    }
  }
}

.gap- {
  @for $i from 1 to 10 {
    $i: $i * 4;
    &#{$i} {
      gap: #{$i}px;
    }
  }
}

.m- {
  @for $i from 1 to 10 {
    $i: $i * 4;
    &#{$i} {
      margin: #{$i}px;
    }
  }
}

.p- {
  @for $i from 1 to 10 {
    $i: $i * 4;
    &#{$i} {
      padding: #{$i}px;
    }
  }
}

.w- {
  @for $i from 1 to 10 {
    $i: $i * 10;
    &#{$i} {
      width: #{$i}#{"%"};
    }
  }
}
