<table mat-table [dataSource]="dataSource" matSort [hidden]="!dataSource.data.length">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column.nestedField ? column.field + '.' + column.nestedField : column.field">
    <ng-container *ngIf="column.sortable; else unsortable">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="column.nestedField ? column.field + '.' + column.nestedField : column.field" unsortable>
        {{column.nestedField ? column.field + '.' + column.nestedField : column.field}}
      </th>
    </ng-container>
    <ng-template #unsortable>
      <th mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>
    </ng-template>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="!getComponent(column.field); else custom">
        <ng-container *ngIf="column.nestedField">
          {{ element[column.field][column.nestedField] }}
        </ng-container>
        <ng-container *ngIf="!column.nestedField">
          {{ element[column.field] }}
        </ng-container>
      </ng-container>
      <ng-template #custom>
        <ng-container *ngComponentOutlet="getComponent(column.field); injector: createInjector(element[column.field])"></ng-container>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
